

body {
	margin:0px;
	padding:0px;
  background-image: url(background.jpg);
 background-size: 100% auto;
background-repeat: no-repeat;
background-size: cover;
ackground-position: center center; 
background-attachment: fixed; 
 background-color: #464646;
}

.top-content {


}


.div_content{

	top:0;
display: inline-block;
 
    margin: 10px;
    padding: 45px 0 0;
   

}
.div_content1{

	top:0;

   
}

.header{
position:absolute; 
	top:0px;

color: White;
font-size:50px;

}

.header1{
position:absulute; /* добавили */
	top:0; /* добавили */

color: #696969;
font-size:25px;
left: 10px;
    padding: 100px 0 0;
    text-align: center;
}



	.top-content {
	left: 10px;
    padding: 100px 0 0;
    text-align: center;
}
 



	




